examples/helm/components/openshift-lightspeed/workflows/workflow-cluster-test-suite.json
{
  "name": "Cluster Test Suite - MCP (cluster-admin)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        180,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ns",
              "name": "namespace",
              "value": "openshift-lightspeed",
              "type": "string"
            },
            {
              "id": "tns",
              "name": "testNamespace",
              "value": "n8n-test",
              "type": "string"
            },
            {
              "id": "email",
              "name": "destinationEmail",
              "value": "maximiliano.pizarro.5@gmail.com",
              "type": "string"
            },
            {
              "id": "mcpHost",
              "name": "mcpHost",
              "value": "field-content-ols.openshift-lightspeed.svc.cluster.local",
              "type": "string"
            },
            {
              "id": "mcpPort",
              "name": "mcpPort",
              "value": "8080",
              "type": "string"
            },
            {
              "id": "k8sMcpHost",
              "name": "k8sMcpHost",
              "value": "field-content-ols-k8s-mcp.openshift-lightspeed.svc.cluster.local",
              "type": "string"
            },
            {
              "id": "k8sMcpPort",
              "name": "k8sMcpPort",
              "value": "8085",
              "type": "string"
            },
            {
              "id": "litellmHost",
              "name": "litellmHost",
              "value": "field-content-ols-litellm.openshift-lightspeed.svc.cluster.local",
              "type": "string"
            },
            {
              "id": "litellmPort",
              "name": "litellmPort",
              "value": "4000",
              "type": "string"
            },
            {
              "id": "litellmApiKey",
              "name": "litellmApiKey",
              "value": "sk-openshift-mcp-1234",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-params",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nfunction mcpRequest(host, port, body, sessionId) {\n  return new Promise((resolve, reject) => {\n    const data = JSON.stringify(body);\n    const headers = { 'Content-Type': 'application/json', 'Accept': 'application/json, text/event-stream', 'Content-Length': Buffer.byteLength(data) };\n    if (sessionId) headers['Mcp-Session-Id'] = sessionId;\n    const req = http.request({ hostname: host, port, path: '/mcp', method: 'POST', headers }, (res) => {\n      let body = '';\n      res.on('data', (chunk) => body += chunk);\n      res.on('end', () => {\n        const lines = body.split('\\n');\n        let jsonData = '';\n        for (const line of lines) { if (line.startsWith('data: ')) jsonData = line.substring(6); }\n        resolve({ status: res.statusCode, headers: res.headers, body: jsonData || body });\n      });\n    });\n    req.on('error', reject);\n    req.write(data);\n    req.end();\n  });\n}\nasync function callMcpTool(host, port, toolName, toolArgs) {\n  const init = await mcpRequest(host, port, { jsonrpc: '2.0', id: 1, method: 'initialize', params: { protocolVersion: '2024-11-05', capabilities: {}, clientInfo: { name: 'n8n-workflow', version: '1.0' } } });\n  const sid = init.headers['mcp-session-id'];\n  await mcpRequest(host, port, { jsonrpc: '2.0', method: 'notifications/initialized' }, sid);\n  const result = await mcpRequest(host, port, { jsonrpc: '2.0', id: 3, method: 'tools/call', params: { name: toolName, arguments: toolArgs } }, sid);\n  const parsed = JSON.parse(result.body);\n  return parsed.result?.content?.[0]?.text || 'Error: ' + JSON.stringify(parsed.error);\n}\nconst j = $input.first().json;\nconst nsManifest = JSON.stringify({\n  apiVersion: 'v1', kind: 'Namespace',\n  metadata: { name: j.testNamespace, labels: { 'managed-by': 'n8n-workflow', 'purpose': 'test-databases' } }\n});\nconst result = await callMcpTool(j.k8sMcpHost, parseInt(j.k8sMcpPort, 10), 'resources_create_or_update', { resource: nsManifest });\nreturn [{ json: { ...j, createNsResult: result } }];\n"
      },
      "id": "create-ns",
      "name": "Create n8n-test Namespace",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nfunction mcpRequest(host, port, body, sessionId) {\n  return new Promise((resolve, reject) => {\n    const data = JSON.stringify(body);\n    const headers = { 'Content-Type': 'application/json', 'Accept': 'application/json, text/event-stream', 'Content-Length': Buffer.byteLength(data) };\n    if (sessionId) headers['Mcp-Session-Id'] = sessionId;\n    const req = http.request({ hostname: host, port, path: '/mcp', method: 'POST', headers }, (res) => {\n      let body = '';\n      res.on('data', (chunk) => body += chunk);\n      res.on('end', () => {\n        const lines = body.split('\\n');\n        let jsonData = '';\n        for (const line of lines) { if (line.startsWith('data: ')) jsonData = line.substring(6); }\n        resolve({ status: res.statusCode, headers: res.headers, body: jsonData || body });\n      });\n    });\n    req.on('error', reject);\n    req.write(data);\n    req.end();\n  });\n}\nasync function callMcpTool(host, port, toolName, toolArgs) {\n  const init = await mcpRequest(host, port, { jsonrpc: '2.0', id: 1, method: 'initialize', params: { protocolVersion: '2024-11-05', capabilities: {}, clientInfo: { name: 'n8n-workflow', version: '1.0' } } });\n  const sid = init.headers['mcp-session-id'];\n  await mcpRequest(host, port, { jsonrpc: '2.0', method: 'notifications/initialized' }, sid);\n  const result = await mcpRequest(host, port, { jsonrpc: '2.0', id: 3, method: 'tools/call', params: { name: toolName, arguments: toolArgs } }, sid);\n  const parsed = JSON.parse(result.body);\n  return parsed.result?.content?.[0]?.text || 'Error: ' + JSON.stringify(parsed.error);\n}\nconst j = $input.first().json;\nlet result;\ntry {\n  result = await callMcpTool(j.mcpHost, parseInt(j.mcpPort, 10), 'deployDatabase', {\n    type: 'postgresql', name: 'n8n-test-db',\n    namespace: j.testNamespace, cpuRequest: '200m', memoryRequest: '256Mi'\n  });\n} catch (e) {\n  result = 'Already exists or error: ' + e.message;\n}\nif (result && result.includes('AlreadyExists')) result = 'PostgreSQL n8n-test-db already deployed (skipped).';\nreturn [{ json: { ...j, deployDbResult: result } }];\n"
      },
      "id": "deploy-db",
      "name": "Deploy PostgreSQL DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nreturn [{ json: { ...j, cpuTestResult: 'Skipped: tool requires kubectl binary not available in MCP pod. Use dedicated test runner pod instead.' } }];\n"
      },
      "id": "cpu-test",
      "name": "CPU Stress Test",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nreturn [{ json: { ...j, networkTestResult: 'Skipped: tool requires kubectl binary not available in MCP pod. Use dedicated test runner pod instead.' } }];\n"
      },
      "id": "network-test",
      "name": "Network Bandwidth Test",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nreturn [{ json: { ...j, storageTestResult: 'Skipped: tool requires kubectl binary not available in MCP pod. Use dedicated test runner pod instead.' } }];\n"
      },
      "id": "storage-test",
      "name": "Storage Benchmark",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nreturn [{ json: { ...j, dbBenchResult: 'Skipped: tool requires kubectl binary not available in MCP pod. Use dedicated test runner pod instead.' } }];\n"
      },
      "id": "db-bench",
      "name": "DB Benchmark (PostgreSQL)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nfunction mcpRequest(host, port, body, sessionId) {\n  return new Promise((resolve, reject) => {\n    const data = JSON.stringify(body);\n    const headers = { 'Content-Type': 'application/json', 'Accept': 'application/json, text/event-stream', 'Content-Length': Buffer.byteLength(data) };\n    if (sessionId) headers['Mcp-Session-Id'] = sessionId;\n    const req = http.request({ hostname: host, port, path: '/mcp', method: 'POST', headers }, (res) => {\n      let body = '';\n      res.on('data', (chunk) => body += chunk);\n      res.on('end', () => {\n        const lines = body.split('\\n');\n        let jsonData = '';\n        for (const line of lines) { if (line.startsWith('data: ')) jsonData = line.substring(6); }\n        resolve({ status: res.statusCode, headers: res.headers, body: jsonData || body });\n      });\n    });\n    req.on('error', reject);\n    req.write(data);\n    req.end();\n  });\n}\nasync function callMcpTool(host, port, toolName, toolArgs) {\n  const init = await mcpRequest(host, port, { jsonrpc: '2.0', id: 1, method: 'initialize', params: { protocolVersion: '2024-11-05', capabilities: {}, clientInfo: { name: 'n8n-workflow', version: '1.0' } } });\n  const sid = init.headers['mcp-session-id'];\n  await mcpRequest(host, port, { jsonrpc: '2.0', method: 'notifications/initialized' }, sid);\n  const result = await mcpRequest(host, port, { jsonrpc: '2.0', id: 3, method: 'tools/call', params: { name: toolName, arguments: toolArgs } }, sid);\n  const parsed = JSON.parse(result.body);\n  return parsed.result?.content?.[0]?.text || 'Error: ' + JSON.stringify(parsed.error);\n}\nconst j = $input.first().json;\nconst result = await callMcpTool(j.mcpHost, parseInt(j.mcpPort, 10), 'checkClusterHealth', { detailed: 'true' });\nreturn [{ json: { ...j, clusterHealthResult: result } }];\n"
      },
      "id": "cluster-health",
      "name": "Check Cluster Health",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const j = $input.first().json;\nconst summary = [\n  '=== NAMESPACE CREATION (k8s-mcp: resources_create_or_update) ===',\n  j.createNsResult || 'N/A',\n  '\\n=== DATABASE DEPLOYMENT (Quarkus MCP: deployDatabase -> n8n-test) ===',\n  j.deployDbResult || 'N/A',\n  '\\n=== CPU STRESS TEST (Quarkus MCP: runCpuStressTest) ===',\n  j.cpuTestResult || 'N/A',\n  '\\n=== NETWORK BANDWIDTH TEST (Quarkus MCP: runNetworkTest) ===',\n  j.networkTestResult || 'N/A',\n  '\\n=== STORAGE BENCHMARK (Quarkus MCP: runStorageBenchmark) ===',\n  j.storageTestResult || 'N/A',\n  '\\n=== DATABASE BENCHMARK - PostgreSQL (Quarkus MCP: runDatabaseBenchmark) ===',\n  j.dbBenchResult || 'N/A',\n  '\\n=== CLUSTER HEALTH (Quarkus MCP: checkClusterHealth) ===',\n  j.clusterHealthResult || 'N/A'\n].join('\\n');\nreturn [{ json: { ...j, aggregatedOutput: summary } }];\n"
      },
      "id": "aggregate",
      "name": "Aggregate All Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst input = $input.first().json;\nconst litellmHost = input.litellmHost;\nconst litellmPort = parseInt(input.litellmPort, 10);\nconst litellmApiKey = input.litellmApiKey || '';\nconst fullOutput = input.aggregatedOutput || '';\nconst truncated = fullOutput.length > 3000 ? fullOutput.substring(0, 3000) + '\\n[... truncated ...]' : fullOutput;\nconst systemPrompt = 'Analyze this OpenShift cluster test suite results. Provide: 1) HTML summary table per test (name, status, key metrics), 2) Overall health verdict (Healthy/Warning/Critical) with color, 3) Actionable recommendations. Use inline CSS, Red Hat style (colors: #DC382D, #151515, #292929).';\nconst requestBody = JSON.stringify({\n  model: 'granite',\n  messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: truncated }],\n  temperature: 0.3, max_tokens: 2048\n});\nreturn new Promise((resolve, reject) => {\n  const req = http.request({\n    hostname: litellmHost, port: litellmPort, path: '/v1/chat/completions', method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + litellmApiKey, 'Content-Length': Buffer.byteLength(requestBody) }\n  }, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => {\n      try {\n        const parsed = JSON.parse(data);\n        let rawAI = parsed.choices?.[0]?.message?.content || 'AI analysis unavailable';\n        rawAI = rawAI.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\n        const aiAnalysis = rawAI.length > 1800 ? rawAI.substring(0, 1800) + '\n[... truncated ...]' : rawAI;\n        resolve([{ json: { ...input, aiAnalysis, aiModel: parsed.model || 'granite' } }]);\n      } catch (e) { resolve([{ json: { ...input, aiAnalysis: 'AI failed: ' + e.message, aiModel: 'error' } }]); }\n    });\n  });\n  req.on('error', (e) => { resolve([{ json: { ...input, aiAnalysis: 'AI unreachable: ' + e.message, aiModel: 'unreachable' } }]); });\n  req.write(requestBody);\n  req.end();\n});\n"
      },
      "id": "ai-format",
      "name": "AI Format & Explain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst input = $input.first().json;\nconst email = input.destinationEmail;\nconst testNamespace = input.testNamespace;\nconst aiAnalysis = input.aiAnalysis || '';\nconst aiModel = input.aiModel || 'granite';\nconst ts = new Date().toISOString();\nconst raw = input.aggregatedOutput || '';\nconst escaped = raw.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\nconst html = `<html><body style=\"margin:0;padding:0;background:#f0f0f0;font-family:'Red Hat Display',Arial,sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f0f0f0;\"><tr><td align=\"center\" style=\"padding:24px;\">\n<table width=\"680\" style=\"max-width:680px;width:100%;\">\n<tr><td style=\"background:#151515;padding:16px 32px;border-radius:8px 8px 0 0;\">\n<span style=\"color:#EE0000;font-size:20px;font-weight:700;\">Red Hat</span>\n<span style=\"float:right;color:#C6C6C6;font-size:12px;line-height:28px;\">OpenShift Developer Sandbox</span></td></tr>\n<tr><td style=\"background:#DC382D;padding:28px 32px;\">\n<h1 style=\"margin:0;font-size:24px;color:#FFF;\">Cluster Test Suite Report</h1>\n<p style=\"margin:6px 0 0;font-size:14px;color:rgba(255,255,255,.85);\">Full benchmark &amp; health test via openshift-mcp-server (cluster-admin)</p></td></tr>\n<tr><td style=\"background:#292929;padding:0;\">\n<table width=\"100%\"><tr>\n<td style=\"padding:12px 16px;text-align:center;color:#A3A3A3;font-size:11px;border-right:1px solid #3C3C3C;width:25%;\">\n<b style=\"display:block;color:#FFF;font-size:13px;\">${testNamespace}</b>Test Namespace</td>\n<td style=\"padding:12px 16px;text-align:center;color:#A3A3A3;font-size:11px;border-right:1px solid #3C3C3C;width:25%;\">\n<b style=\"display:block;color:#FFF;font-size:13px;\">${ts}</b>Generated</td>\n<td style=\"padding:12px 16px;text-align:center;color:#A3A3A3;font-size:11px;border-right:1px solid #3C3C3C;width:25%;\">\n<b style=\"display:block;color:#FFF;font-size:13px;\">7 Tests</b>Test Count</td>\n<td style=\"padding:12px 16px;text-align:center;color:#A3A3A3;font-size:11px;width:25%;\">\n<b style=\"display:block;color:#FFF;font-size:13px;\">${aiModel}</b>AI Model</td>\n</tr></table></td></tr>\n<tr><td style=\"background:#FFF;padding:28px 32px;\">\n<h2 style=\"margin:0 0 16px;font-size:17px;border-bottom:2px solid #DC382D;padding-bottom:10px;\">AI Analysis</h2>\n<div style=\"padding:8px 0;font-size:14px;line-height:1.6;\">${aiAnalysis}</div>\n</td></tr>\n<tr><td style=\"background:#FFF;padding:0 32px 28px 32px;\">\n<h2 style=\"margin:0 0 16px;font-size:17px;border-bottom:2px solid #292929;padding-bottom:10px;color:#6A6E73;\">Raw Test Output</h2>\n<pre style=\"background:#1E1E1E;color:#D4D4D4;padding:16px;border-radius:6px;overflow-x:auto;font-size:11px;line-height:1.5;white-space:pre-wrap;word-wrap:break-word;\">${escaped}</pre>\n</td></tr>\n<tr><td style=\"background:#151515;padding:20px 32px;border-radius:0 0 8px 8px;text-align:center;\">\n<p style=\"margin:0;font-size:12px;color:#A3A3A3;\">Auto-generated by <b style=\"color:#FFF;\">n8n</b> on <b style=\"color:#FFF;\">Red Hat OpenShift Developer Sandbox</b></p>\n</td></tr></table></td></tr></table></body></html>`;\nconst mailBody = JSON.stringify({\n  From: { Name: 'n8n Workflow', Email: 'workflow@n8n.local' },\n  To: [{ Name: 'Admin', Email: email }],\n  Subject: `[Red Hat OpenShift] Cluster Test Suite | ${testNamespace} | ${ts}`,\n  HTML: html\n});\nreturn new Promise((resolve, reject) => {\n  const req = http.request({\n    hostname: 'n8n-mailpit', port: 8025, path: '/api/v1/send', method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(mailBody) }\n  }, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => { resolve([{ json: { mailpitStatus: res.statusCode, mailpitResponse: data } }]); });\n  });\n  req.on('error', reject);\n  req.write(mailBody);\n  req.end();\n});\n"
      },
      "id": "report-email",
      "name": "Build Report & Send Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Parameters": {
      "main": [
        [
          {
            "node": "Create n8n-test Namespace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create n8n-test Namespace": {
      "main": [
        [
          {
            "node": "Deploy PostgreSQL DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deploy PostgreSQL DB": {
      "main": [
        [
          {
            "node": "CPU Stress Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CPU Stress Test": {
      "main": [
        [
          {
            "node": "Network Bandwidth Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Network Bandwidth Test": {
      "main": [
        [
          {
            "node": "Storage Benchmark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage Benchmark": {
      "main": [
        [
          {
            "node": "DB Benchmark (PostgreSQL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB Benchmark (PostgreSQL)": {
      "main": [
        [
          {
            "node": "Check Cluster Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cluster Health": {
      "main": [
        [
          {
            "node": "Aggregate All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Results": {
      "main": [
        [
          {
            "node": "AI Format & Explain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Format & Explain": {
      "main": [
        [
          {
            "node": "Build Report & Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "active": false
}