examples/helm/components/openshift-lightspeed/workflows/workflow-lightspeed-agent.json
{
  "name": "Lightspeed AI Agent - Webhook (MCP)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lightspeed-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        300
      ],
      "webhookId": "lightspeed-agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mcpHost",
              "name": "mcpHost",
              "value": "field-content-ols.openshift-lightspeed.svc.cluster.local",
              "type": "string"
            },
            {
              "id": "mcpPort",
              "name": "mcpPort",
              "value": "8080",
              "type": "string"
            },
            {
              "id": "k8sMcpHost",
              "name": "k8sMcpHost",
              "value": "field-content-ols-k8s-mcp.openshift-lightspeed.svc.cluster.local",
              "type": "string"
            },
            {
              "id": "k8sMcpPort",
              "name": "k8sMcpPort",
              "value": "8085",
              "type": "string"
            },
            {
              "id": "litellmHost",
              "name": "litellmHost",
              "value": "field-content-ols-litellm.openshift-lightspeed.svc.cluster.local",
              "type": "string"
            },
            {
              "id": "litellmPort",
              "name": "litellmPort",
              "value": "4000",
              "type": "string"
            },
            {
              "id": "litellmApiKey",
              "name": "litellmApiKey",
              "value": "sk-openshift-mcp-1234",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst input = $input.first().json;\nconst prompt = input.body?.prompt || input.prompt || '';\nif (!prompt) return [{ json: { error: 'Missing prompt field in request body', parsed: null } }];\nconst litellmHost = input.litellmHost;\nconst litellmPort = parseInt(input.litellmPort, 10);\nconst litellmApiKey = input.litellmApiKey || '';\nconst systemPrompt = `You are a JSON parser for OpenShift operations. Given a user request, extract the intent and parameters.\nReturn ONLY valid JSON with this structure:\n{\n  \"action\": \"createDeployment\" | \"listPods\" | \"listResources\" | \"getResource\" | \"deleteResource\" | \"scaleDeployment\" | \"getPodLogs\" | \"listProjects\" | \"monitorDeployments\" | \"podTop\" | \"nodeTop\",\n  \"params\": { ...action-specific parameters... }\n}\n\nAction parameter schemas:\n- createDeployment: {name, image, namespace, replicasStr, cpuRequest?, memoryRequest?, cpuLimit?, memoryLimit?, containerPortStr?}\n- listPods: {namespace}\n- listResources: {resource_type, namespace?}\n- getResource: {resource_type, name, namespace?}\n- deleteResource: {resource_type, name, namespace}\n- scaleDeployment: {name, namespace, replicas}\n- getPodLogs: {name, namespace, tail_lines?}\n- listProjects: {}\n- monitorDeployments: {namespace}\n- podTop: {namespace}\n- nodeTop: {}\n\nExamples:\nUser: \"Create a deployment called httpd-test in namespace n8n-test using image registry/httpd:latest with 2 replicas\"\n{\"action\":\"createDeployment\",\"params\":{\"name\":\"httpd-test\",\"image\":\"registry/httpd:latest\",\"namespace\":\"n8n-test\",\"replicasStr\":\"2\",\"cpuRequest\":\"50m\",\"memoryRequest\":\"64Mi\",\"cpuLimit\":\"200m\",\"memoryLimit\":\"256Mi\",\"containerPortStr\":\"8080\"}}\n\nUser: \"List pods in namespace openshift-lightspeed\"\n{\"action\":\"listPods\",\"params\":{\"namespace\":\"openshift-lightspeed\"}}\n\nUser: \"Scale deployment myapp in namespace test to 5 replicas\"\n{\"action\":\"scaleDeployment\",\"params\":{\"name\":\"myapp\",\"namespace\":\"test\",\"replicas\":\"5\"}}\n\nUser: \"Delete deployment httpd-test in namespace n8n-test\"\n{\"action\":\"deleteResource\",\"params\":{\"resource_type\":\"deployment\",\"name\":\"httpd-test\",\"namespace\":\"n8n-test\"}}\n\nReturn ONLY the JSON, no markdown, no explanation.`;\nconst requestBody = JSON.stringify({\n  model: 'llama-scout-17b',\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: prompt }\n  ],\n  temperature: 0.1,\n  max_tokens: 512\n});\nreturn new Promise((resolve, reject) => {\n  const req = http.request({\n    hostname: litellmHost, port: litellmPort, path: '/v1/chat/completions', method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + litellmApiKey, 'Content-Length': Buffer.byteLength(requestBody) }\n  }, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => {\n      try {\n        const resp = JSON.parse(data);\n        let content = resp.choices?.[0]?.message?.content || '';\n        content = content.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\n        content = content.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n        const parsed = JSON.parse(content);\n        resolve([{ json: { ...input, userPrompt: prompt, parsed, parseError: null } }]);\n      } catch (e) {\n        resolve([{ json: { ...input, userPrompt: prompt, parsed: null, parseError: 'Failed to parse LLM response: ' + e.message } }]);\n      }\n    });\n  });\n  req.on('error', (e) => { resolve([{ json: { ...input, userPrompt: prompt, parsed: null, parseError: 'LiteLLM unreachable: ' + e.message } }]); });\n  req.write(requestBody);\n  req.end();\n});\n"
      },
      "id": "parse-intent",
      "name": "Parse Intent (LiteLLM)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst input = $input.first().json;\nif (input.parseError || !input.parsed) {\n  return [{ json: { ...input, mcpResult: null, mcpError: input.parseError || 'No parsed intent' } }];\n}\nconst action = input.parsed.action;\nconst params = input.parsed.params;\n\nconst toolMap = {\n  createDeployment: { host: 'mcpHost', port: 'mcpPort', tool: 'createDeployment', args: (p) => ({\n    name: p.name, image: p.image, namespace: p.namespace,\n    replicasStr: p.replicasStr || '1', cpuRequest: p.cpuRequest || '50m',\n    memoryRequest: p.memoryRequest || '64Mi', cpuLimit: p.cpuLimit || '200m',\n    memoryLimit: p.memoryLimit || '256Mi', containerPortStr: p.containerPortStr || '8080'\n  })},\n  listPods: { host: 'k8sMcpHost', port: 'k8sMcpPort', tool: 'pods_list_in_namespace', args: (p) => ({ namespace: p.namespace }) },\n  listResources: { host: 'k8sMcpHost', port: 'k8sMcpPort', tool: 'resources_list', args: (p) => ({ resource_type: p.resource_type, namespace: p.namespace || '' }) },\n  getResource: { host: 'k8sMcpHost', port: 'k8sMcpPort', tool: 'resources_get', args: (p) => ({ resource_type: p.resource_type, name: p.name, namespace: p.namespace || '' }) },\n  deleteResource: { host: 'k8sMcpHost', port: 'k8sMcpPort', tool: 'resources_delete', args: (p) => ({ resource_type: p.resource_type, name: p.name, namespace: p.namespace }) },\n  scaleDeployment: { host: 'k8sMcpHost', port: 'k8sMcpPort', tool: 'resources_scale', args: (p) => ({ resource_type: 'deployment', name: p.name, namespace: p.namespace, replicas: parseInt(p.replicas, 10) }) },\n  getPodLogs: { host: 'k8sMcpHost', port: 'k8sMcpPort', tool: 'pods_log', args: (p) => ({ name: p.name, namespace: p.namespace, tail_lines: parseInt(p.tail_lines || '50', 10) }) },\n  listProjects: { host: 'mcpHost', port: 'mcpPort', tool: 'listProjects', args: () => ({}) },\n  monitorDeployments: { host: 'mcpHost', port: 'mcpPort', tool: 'monitorDeployments', args: (p) => ({ namespace: p.namespace }) },\n  podTop: { host: 'k8sMcpHost', port: 'k8sMcpPort', tool: 'pods_top', args: (p) => ({ namespace: p.namespace }) },\n  nodeTop: { host: 'k8sMcpHost', port: 'k8sMcpPort', tool: 'nodes_top', args: () => ({}) }\n};\n\nconst mapping = toolMap[action];\nif (!mapping) {\n  return [{ json: { ...input, mcpResult: null, mcpError: 'Unknown action: ' + action } }];\n}\n\nconst mcpHost = input[mapping.host];\nconst mcpPort = parseInt(input[mapping.port], 10);\nconst toolName = mapping.tool;\nconst toolArgs = mapping.args(params);\n\nfunction mcpRequest(host, port, body, sessionId) {\n  return new Promise((resolve, reject) => {\n    const data = JSON.stringify(body);\n    const headers = { 'Content-Type': 'application/json', 'Accept': 'application/json, text/event-stream', 'Content-Length': Buffer.byteLength(data) };\n    if (sessionId) headers['Mcp-Session-Id'] = sessionId;\n    const req = http.request({ hostname: host, port, path: '/mcp', method: 'POST', headers }, (res) => {\n      let body = '';\n      res.on('data', (chunk) => body += chunk);\n      res.on('end', () => {\n        const lines = body.split('\\n');\n        let jsonData = '';\n        for (const line of lines) { if (line.startsWith('data: ')) jsonData = line.substring(6); }\n        resolve({ status: res.statusCode, headers: res.headers, body: jsonData || body });\n      });\n    });\n    req.on('error', reject);\n    req.write(data);\n    req.end();\n  });\n}\n\ntry {\n  const init = await mcpRequest(mcpHost, mcpPort, { jsonrpc: '2.0', id: 1, method: 'initialize', params: { protocolVersion: '2024-11-05', capabilities: {}, clientInfo: { name: 'n8n-agent', version: '1.0' } } });\n  const sid = init.headers['mcp-session-id'];\n  await mcpRequest(mcpHost, mcpPort, { jsonrpc: '2.0', method: 'notifications/initialized' }, sid);\n  const result = await mcpRequest(mcpHost, mcpPort, { jsonrpc: '2.0', id: 3, method: 'tools/call', params: { name: toolName, arguments: toolArgs } }, sid);\n  const parsed = JSON.parse(result.body);\n  const mcpResult = parsed.result?.content?.[0]?.text || JSON.stringify(parsed.error || parsed);\n  return [{ json: { ...input, mcpResult, mcpError: null, mcpTool: toolName, mcpArgs: toolArgs } }];\n} catch (e) {\n  return [{ json: { ...input, mcpResult: null, mcpError: 'MCP call failed: ' + e.message, mcpTool: toolName } }];\n}\n"
      },
      "id": "execute-mcp",
      "name": "Execute MCP Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst input = $input.first().json;\nconst mcpResult = input.mcpResult || input.mcpError || 'No result';\nconst truncated = mcpResult.length > 2000 ? mcpResult.substring(0, 2000) + '\\n[... truncated]' : mcpResult;\nconst action = input.parsed?.action || 'unknown';\nconst litellmHost = input.litellmHost;\nconst litellmPort = parseInt(input.litellmPort, 10);\nconst litellmApiKey = input.litellmApiKey || '';\nconst systemPrompt = 'You are a helpful OpenShift assistant. The user asked: \"' + (input.userPrompt || '') + '\". The action \"' + action + '\" was executed via MCP tool \"' + (input.mcpTool || '') + '\". Below is the result. Provide a clear, concise summary of what happened. If it was a creation, confirm what was created. If it was a listing, summarize the key data. Be direct and helpful.';\nconst requestBody = JSON.stringify({\n  model: 'llama-scout-17b',\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: truncated }\n  ],\n  temperature: 0.3,\n  max_tokens: 1024\n});\nreturn new Promise((resolve, reject) => {\n  const req = http.request({\n    hostname: litellmHost, port: litellmPort, path: '/v1/chat/completions', method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + litellmApiKey, 'Content-Length': Buffer.byteLength(requestBody) }\n  }, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => {\n      try {\n        const parsed = JSON.parse(data);\n        let answer = parsed.choices?.[0]?.message?.content || 'Could not generate summary';\n        answer = answer.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\n        resolve([{ json: { ...input, answer } }]);\n      } catch (e) {\n        resolve([{ json: { ...input, answer: 'Result: ' + truncated } }]);\n      }\n    });\n  });\n  req.on('error', (e) => { resolve([{ json: { ...input, answer: 'Result: ' + truncated } }]); });\n  req.write(requestBody);\n  req.end();\n});\n"
      },
      "id": "format-response",
      "name": "Format Response (LiteLLM)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: !$json.mcpError, action: $json.parsed?.action || 'unknown', tool: $json.mcpTool || null, answer: $json.answer || $json.mcpError || 'No response', raw: ($json.mcpResult || '').substring(0, 500) }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1280,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Parse Intent (LiteLLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent (LiteLLM)": {
      "main": [
        [
          {
            "node": "Execute MCP Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute MCP Tool": {
      "main": [
        [
          {
            "node": "Format Response (LiteLLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response (LiteLLM)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "active": true
}
