examples/helm/components/connectivity-link-openshift-lightspeed/workflows/workflow-mcp-gateway-status.json
{
  "name": "MCP Gateway Status - MCP",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [180, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "ns", "name": "namespace", "value": "openshift-lightspeed", "type": "string" },
            { "id": "email", "name": "destinationEmail", "value": "maximiliano.pizarro.5@gmail.com", "type": "string" },
            { "id": "mcpHost", "name": "mcpHost", "value": "field-content-ols-k8s-mcp.openshift-lightspeed.svc.cluster.local", "type": "string" },
            { "id": "mcpPort", "name": "mcpPort", "value": "8085", "type": "string" },
            { "id": "tool", "name": "toolName", "value": "resources_list", "type": "string" },
            { "id": "litellmHost", "name": "litellmHost", "value": "field-content-ols-litellm.openshift-lightspeed.svc.cluster.local", "type": "string" },
            { "id": "litellmPort", "name": "litellmPort", "value": "4000", "type": "string" },
            { "id": "litellmApiKey", "name": "litellmApiKey", "value": "sk-openshift-mcp-1234", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "set-params",
      "name": "Set Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 300]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\n\nfunction mcpRequest(host, port, body, sessionId) {\n  return new Promise((resolve, reject) => {\n    const data = JSON.stringify(body);\n    const headers = { 'Content-Type': 'application/json', 'Accept': 'application/json, text/event-stream', 'Content-Length': Buffer.byteLength(data) };\n    if (sessionId) headers['Mcp-Session-Id'] = sessionId;\n    const req = http.request({ hostname: host, port, path: '/mcp', method: 'POST', headers }, (res) => {\n      let body = '';\n      res.on('data', (chunk) => body += chunk);\n      res.on('end', () => {\n        const lines = body.split('\\n');\n        let jsonData = '';\n        for (const line of lines) { if (line.startsWith('data: ')) jsonData = line.substring(6); }\n        resolve({ status: res.statusCode, headers: res.headers, body: jsonData || body });\n      });\n    });\n    req.on('error', reject);\n    req.write(data);\n    req.end();\n  });\n}\n\nasync function callMcpTool(host, port, toolName, toolArgs) {\n  const init = await mcpRequest(host, port, { jsonrpc: '2.0', id: 1, method: 'initialize', params: { protocolVersion: '2024-11-05', capabilities: {}, clientInfo: { name: 'n8n-workflow', version: '1.0' } } });\n  const sid = init.headers['mcp-session-id'];\n  await mcpRequest(host, port, { jsonrpc: '2.0', method: 'notifications/initialized' }, sid);\n  const result = await mcpRequest(host, port, { jsonrpc: '2.0', id: 3, method: 'tools/call', params: { name: toolName, arguments: toolArgs } }, sid);\n  const parsed = JSON.parse(result.body);\n  return parsed.result?.content?.[0]?.text || 'Error: ' + JSON.stringify(parsed.error);\n}\n\nconst j = $input.first().json;\nconst results = [];\n\nconst podsOutput = await callMcpTool(j.mcpHost, parseInt(j.mcpPort, 10), 'pods_list_in_namespace', { namespace: 'openshift-lightspeed' });\nresults.push('=== MCP Pods (openshift-lightspeed) ===\\n' + podsOutput);\n\nconst gwOutput = await callMcpTool(j.mcpHost, parseInt(j.mcpPort, 10), 'resources_list', { apiVersion: 'gateway.networking.k8s.io/v1', resource: 'gateways' });\nresults.push('\\n=== Gateways (all namespaces) ===\\n' + gwOutput);\n\nconst routesOutput = await callMcpTool(j.mcpHost, parseInt(j.mcpPort, 10), 'resources_list', { apiVersion: 'gateway.networking.k8s.io/v1', resource: 'httproutes' });\nresults.push('\\n=== HTTPRoutes (all namespaces) ===\\n' + routesOutput);\n\nconst rlpOutput = await callMcpTool(j.mcpHost, parseInt(j.mcpPort, 10), 'resources_list', { apiVersion: 'kuadrant.io/v1', resource: 'ratelimitpolicies' });\nresults.push('\\n=== RateLimitPolicies (all namespaces) ===\\n' + rlpOutput);\n\nreturn [{ json: { ...j, mcpOutput: results.join('\\n') } }];\n"
      },
      "id": "mcp-call",
      "name": "MCP Tool Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 300]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst input = $input.first().json;\nconst litellmHost = input.litellmHost;\nconst litellmPort = parseInt(input.litellmPort, 10);\nconst litellmApiKey = input.litellmApiKey || '';\nconst mcpOutputFull = input.mcpOutput || '';\nconst mcpOutput = mcpOutputFull.length > 1200 ? mcpOutputFull.substring(0, 1200) + '\\n[... truncated]' : mcpOutputFull;\nconst systemPrompt = 'Analyze MCP and API Gateway infrastructure status. Data includes MCP server pods in openshift-lightspeed namespace, Kubernetes Gateways, HTTPRoutes, and RateLimitPolicies. Reply with: 1) HTML table of MCP pods with name, status, and ready state, 2) HTML table of Gateways with name, namespace, gatewayClass, and programmed status, 3) HTML table of HTTPRoutes with name, namespace, and hostnames, 4) HTML table of RateLimitPolicies with name, namespace, and status, 5) Overall infrastructure health (Healthy/Degraded/Critical). Be concise, use inline CSS.';\nconst requestBody = JSON.stringify({ model: 'llama-scout-17b', messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: mcpOutput }], temperature: 0.3, max_tokens: 1024 });\nreturn new Promise((resolve, reject) => {\n  const req = http.request({ hostname: litellmHost, port: litellmPort, path: '/v1/chat/completions', method: 'POST', headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + litellmApiKey, 'Content-Length': Buffer.byteLength(requestBody) } }, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => {\n      try {\n        const parsed = JSON.parse(data);\n        let rawAI = parsed.choices?.[0]?.message?.content || 'AI analysis unavailable';\n        rawAI = rawAI.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\n        const aiAnalysis = rawAI.length > 1800 ? rawAI.substring(0, 1800) + '\\n[... truncated]' : rawAI;\n        resolve([{ json: { ...input, aiAnalysis, aiModel: parsed.model || 'llama-scout-17b' } }]);\n      } catch (e) { resolve([{ json: { ...input, aiAnalysis: 'AI analysis failed: ' + e.message, aiModel: 'error' } }]); }\n    });\n  });\n  req.on('error', (e) => { resolve([{ json: { ...input, aiAnalysis: 'AI service unavailable: ' + e.message, aiModel: 'unreachable' } }]); });\n  req.write(requestBody);\n  req.end();\n});\n"
      },
      "id": "ai-format",
      "name": "AI Format & Explain",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst input = $input.first().json;\nconst namespace = input.namespace;\nconst email = input.destinationEmail;\nconst mcpOutput = input.mcpOutput || '';\nconst aiAnalysis = input.aiAnalysis || '';\nconst aiModel = input.aiModel || 'llama-scout-17b';\nconst ts = new Date().toISOString();\nconst title = 'MCP Gateway Status Report';\nconst subtitle = 'MCP servers, Gateways, HTTPRoutes & RateLimitPolicies';\nconst escapedOutput = mcpOutput.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');\nconst html = `<html><body style=\"margin:0;padding:0;background:#f0f0f0;font-family:'Red Hat Display',Arial,sans-serif;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f0f0f0;\"><tr><td align=\"center\" style=\"padding:24px;\"><table width=\"640\" style=\"max-width:640px;width:100%;\"><tr><td style=\"background:#151515;padding:16px 32px;border-radius:8px 8px 0 0;\"><span style=\"color:#EE0000;font-size:20px;font-weight:700;\">Red Hat</span><span style=\"float:right;color:#C6C6C6;font-size:12px;line-height:28px;\">OpenShift Developer Sandbox</span></td></tr><tr><td style=\"background:#0066CC;padding:28px 32px;\"><h1 style=\"margin:0;font-size:24px;color:#FFF;\">${title}</h1><p style=\"margin:6px 0 0;font-size:14px;color:rgba(255,255,255,.85);\">${subtitle}</p></td></tr><tr><td style=\"background:#292929;padding:0;\"><table width=\"100%\"><tr><td style=\"padding:12px 16px;text-align:center;color:#A3A3A3;font-size:11px;border-right:1px solid #3C3C3C;width:33%;\"><b style=\"display:block;color:#FFF;font-size:13px;\">openshift-lightspeed</b>Namespace</td><td style=\"padding:12px 16px;text-align:center;color:#A3A3A3;font-size:11px;border-right:1px solid #3C3C3C;width:33%;\"><b style=\"display:block;color:#FFF;font-size:13px;\">multi-tool</b>MCP Calls</td><td style=\"padding:12px 16px;text-align:center;color:#A3A3A3;font-size:11px;width:33%;\"><b style=\"display:block;color:#FFF;font-size:13px;\">${aiModel}</b>AI Model</td></tr></table></td></tr><tr><td style=\"background:#FFF;padding:28px 32px;\"><h2 style=\"margin:0 0 16px;font-size:17px;border-bottom:2px solid #0066CC;padding-bottom:10px;\">AI Analysis</h2><div style=\"padding:8px 0;font-size:14px;line-height:1.6;\">${aiAnalysis}</div></td></tr><tr><td style=\"background:#FFF;padding:0 32px 28px 32px;\"><h2 style=\"margin:0 0 16px;font-size:17px;border-bottom:2px solid #292929;padding-bottom:10px;color:#6A6E73;\">Raw MCP Output</h2><pre style=\"background:#1E1E1E;color:#D4D4D4;padding:16px;border-radius:6px;overflow-x:auto;font-size:12px;line-height:1.5;white-space:pre-wrap;word-wrap:break-word;\">${escapedOutput}</pre></td></tr><tr><td style=\"background:#F5F5F5;padding:16px 32px;border-top:1px solid #E0E0E0;text-align:center;\"><span style=\"display:inline-block;background:#0066CC;color:white;font-size:10px;font-weight:700;padding:4px 10px;border-radius:3px;\">KUADRANT</span><span style=\"font-size:11px;color:#6A6E73;margin:0 8px;\">API Gateway</span><span style=\"font-size:11px;color:#DC382D;font-weight:600;\">n8n</span></td></tr><tr><td style=\"background:#151515;padding:20px 32px;border-radius:0 0 8px 8px;text-align:center;\"><p style=\"margin:0;font-size:12px;color:#A3A3A3;\">Auto-generated by n8n on <b style=\"color:#FFF;\">Red Hat OpenShift Developer Sandbox</b></p></td></tr></table></td></tr></table></body></html>`;\nconst subject = `[MCP Gateway] ${title} | ${ts}`;\nconst mailBody = JSON.stringify({ From: { Name: 'n8n Workflow', Email: 'workflow@n8n.local' }, To: [{ Name: 'Admin', Email: email }], Subject: subject, HTML: html });\nreturn new Promise((resolve, reject) => {\n  const req = http.request({ hostname: 'n8n-mailpit', port: 8025, path: '/api/v1/send', method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(mailBody) } }, (res) => {\n    let data = '';\n    res.on('data', (chunk) => { data += chunk; });\n    res.on('end', () => { resolve([{ json: { mailpitStatus: res.statusCode, mailpitResponse: data, subject } }]); });\n  });\n  req.on('error', reject);\n  req.write(mailBody);\n  req.end();\n});\n"
      },
      "id": "report-email",
      "name": "Build Report & Send Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Set Parameters", "type": "main", "index": 0 }]] },
    "Set Parameters": { "main": [[{ "node": "MCP Tool Call", "type": "main", "index": 0 }]] },
    "MCP Tool Call": { "main": [[{ "node": "AI Format & Explain", "type": "main", "index": 0 }]] },
    "AI Format & Explain": { "main": [[{ "node": "Build Report & Send Email", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {},
  "active": false
}
